body {
    background-image: linear-gradient(#000000df), url('/background.png');
    color: white;
    font-family: "Tahoma", sans-serif;
    font-size: 9pt;
	margin: 0;
}

/*TOPBAR*/
.topbar {
	background-image: linear-gradient(#000000bf), url('/background.png');
	box-shadow: 0 -4px 8px 8px  black;
	padding: 8px;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}
.topbar a {
	color: white !important;
	text-decoration: none;
	font-size: 14pt;
	margin-left: 8px;
	flex-grow: 1;
}
.topbar input {
	border: 2px solid #a0a0a0;
    background-color: black;
    color: white;
	width: 200px;
	height: 28px;
	padding: 0px 4px 2px 4px;
	box-sizing: border-box;
}

/*PAGE*/
.page {
	margin: 12px 32px;
	margin-right: 8px;
	display: flex;
	align-items: flex-start;
}
/*CONTENT*/
.content {
	background-color: black;
	border: 2px solid #a0a0a0;
	margin-top: 24px;
	padding: 8px 16px;
	flex-grow: 1;
}
/*SIDEBAR*/
.sidebarcontainer {
	position: sticky;
	top: -2px;
	width: 200px;
	margin-left: 32px;
	background-color: black;
	border: 2px solid #a0a0a0;
	box-sizing: border-box;
	flex-shrink: 0;
}

/*GENERICS*/

a { /*link*/
    color: #ffffa0;
}
a:visited {
    color: #ffffa0;
}