/*general page style*/

body {
	background-image: linear-gradient(#000000cb), url('/background.png');
	color: white;
	font-family: "Tahoma", sans-serif;
	font-size: 9pt;
	margin: 0;
}

/*TOPBAR*/
.topbar-container {
	background-image: linear-gradient(#000000a0), url('/background.png');
	box-shadow: 0 -4px 8px 8px  black;
	padding: 8px;
}
.topbar {
	max-width: 1200px;
	margin: auto;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}
.topbar a {
	color: white !important;
	text-decoration: none;
	font-size: 14pt;
	margin-left: 8px;
	flex-grow: 1;
}
.topbar input {
	border: 2px solid #a0a0a0;
	background-color: black;
	color: white;
	width: 200px;
	height: 28px;
	padding: 0px 4px 2px 4px;
	box-sizing: border-box;
}

/*PAGE*/
.page {
	margin: 12px 32px;
	margin-right: 8px;
	display: flex;
	align-items: flex-start;
	max-width: 1200px;
	margin: auto;
}
/*CONTENT*/
.content-container {
	flex-grow: 1;
	margin-top: 24px;
}
.content {
	background-color: #00000050;
	border: 2px solid #a0a0a0;
	padding: 8px 16px;
}
/*SIDEBAR*/
.sidebar-container {
	background-color: #00000050;
	position: sticky;
	top: 12px;
	width: 200px;
	margin-left: 32px;
	border: 2px solid #a0a0a0;
	box-sizing: border-box;
	flex-shrink: 0;
	padding: 8px;
}
/*FOLDER CONTAINER*/
.sidebar-container .nested {
	display: none;
}
.sidebar-container ul.sidebar
{
	padding: 0;
	list-style-type: none !important;
	margin: -1px;
	margin-bottom: -2px;
}
.sidebar-container ul.sidebar ul.sidebar {
	margin-left: 4px;
	margin-bottom: 4px;
	padding-left: 10px;
	padding-bottom: 4px;
	border-left: 1px solid #a0a0a0;
}
.sidebar-container ul.sidebar.active {
	display: block !important;
}
/*FOLDER BUTTON*/
.liicon {
    display:inline-block;
    width:10px;
    height:100%;
    font-family: monospace;
    font-size: 12px;
    color: white;
}
li.sidebar span {
	user-select: none;
	cursor: pointer;
	background: url(/button.png);
	display: inline-block;
	margin: 4px 6px;
	padding: 0px 2px;
	outline: 2px solid black;
	border-top: 2px solid #ffffffa0;
	border-right: 2px solid #00000060;
	border-bottom: 4px solid #00000060;
	border-left: 2px solid #ffffffa0;
}
li.sidebar .spanactive {
	background: url(/button-active.png);
}

/*GENERIC*/
a {
	color: #ffffa0;
}
a:visited {
	color: #ffffa0;
}

/*
.framed {
	border: #202020 1px solid;
	border-top-color: #B3B3B3;
	border-left-color: #B3B3B3;
	background-color: #505050;
	display: flow-root;
}
.framedinside {
	border: #202020 1px solid;
	border-right-color: #B3B3B3;
	border-bottom-color: #B3B3B3;
	background-color: #404040;
	margin:4px;
	padding:2px;
	text-align: center;
}

.inlineframed {
	border: #000000 1px solid;
	border-top-color: #ffffff;
	border-left-color: #ffffff;
	background-color: #808080;
	display:block;
	margin:4px;
}

.inlineframedinside {
	border: #000000 1px solid;
	border-right-color: #ffffff;
	border-bottom-color: #ffffff;
	background-color: #000000;
	margin:4px;
	padding:8px;
	padding-top:0px;
	padding-bottom:0px;
}

.spanframed {
	border: #000000 1px solid;
	border-top-color: #ffffff;
	border-left-color: #ffffff;
	background-color: #a0a0a0;
	display:inline;
	padding:2px;
	padding-top:3px;
	padding-bottom:3px;
}

.spanframedinside {
	border: #000000 1px solid;
	border-right-color: #ffffff;
	border-bottom-color: #ffffff;
	background-color: #000000;
}

.rightframed {
	border: #202020 1px solid;
	border-top-color: #B3B3B3;
	border-left-color: #B3B3B3;
	background-color: #404040;
	float:right;
	max-width:max-content;
}

.rightframedinside {
	border: #202020 1px solid;
	border-right-color: #B3B3B3;
	border-bottom-color: #B3B3B3;
	background-color: #404040;
	margin:4px;
	padding:8px;
}

.rightframedinside p {
	margin:0px;
}

.framedinside * {
	margin:0px;
}
*/